{#
/**
 * @file cumulio_entity.html.twig
 * Default theme implementation to present Cumulio entity data.
 *
 * This template is used when viewing Cumulio entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_cumulio_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cumulio_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
